Project/src/node-red_flow.json
[{"id":"7dd2efb6.71557","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"71ac27fb.404278","type":"debug","z":"7dd2efb6.71557","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":970,"y":320,"wires":[]},{"id":"eb9951d.585e2b","type":"tcp in","z":"7dd2efb6.71557","name":"","server":"client","host":"localhost","port":"60002","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"Value","base64":false,"x":200,"y":200,"wires":[["593ae6c4.ff32a8"]]},{"id":"35af5896.3ffc98","type":"mqtt out","z":"7dd2efb6.71557","name":"MQTT_Server","topic":"channels/2229789/publish","qos":"","retain":"","broker":"d3fa694e.2660b","x":980,"y":200,"wires":[]},{"id":"593ae6c4.ff32a8","type":"function","z":"7dd2efb6.71557","name":"extract payload ","func":"let string = msg.payload;\n\nif (string.match(/fieldone/g) !== null) {\n    let matches = string.match(/(\\d+)/g);\n    msg.payload = \"field1=\"+matches.join(',')+\"&MQTTPUBLISH=TRUE\";\n} else if (string.match(/fieldtwo/g) !== null) {\n    let matches = string.match(/(\\d+)/g);\n     msg.payload = \"field1=\"+matches.join(',')+\"&MQTTPUBLISH=TRUE\";\n} else if (string.match(/fieldthree/g) !== null) {\n    let matches = string.match(/(\\d+)/g);\n    msg.payload = \"field1=\"+matches.join(',')+\"&MQTTPUBLISH=TRUE\";\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":460,"y":200,"wires":[["71ac27fb.404278","35af5896.3ffc98"]]},{"id":"d3fa694e.2660b","type":"mqtt-broker","z":"","name":"Thingspeak","broker":"mqtt3.thingspeak.com","port":"1883","clientid":"HxcWOwIuHCo3FCIcOBwiKQw","usetls":false,"compatmode":false,"keepalive":"60","cleansession":false,"birthTopic":"","birthQos":"0","birthPayload":"field1=45&field2=60&status=MQTTPUBLISH","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]