Project/src/node-red_flow.json
[{"id":"c8d0338f.e868d8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ce6edf00.38029","type":"debug","z":"c8d0338f.e868d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":970,"y":320,"wires":[]},{"id":"7ed8edad.38fe54","type":"tcp in","z":"c8d0338f.e868d8","name":"","server":"client","host":"localhost","port":"60001","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"Value","base64":false,"x":200,"y":200,"wires":[["e66e94a7.eee1a8"]]},{"id":"cd5aa84e.5ea178","type":"mqtt out","z":"c8d0338f.e868d8","name":"MQTT_Server","topic":"channels/2229789/publish","qos":"","retain":"","broker":"d3fa694e.2660b","x":980,"y":200,"wires":[]},{"id":"e66e94a7.eee1a8","type":"function","z":"c8d0338f.e868d8","name":"extract payload ","func":"let string = msg.payload;\n\nif (string.match(/fieldone/g) !== null) {\n    let matches = string.match(/(\\d+)/g);\n    msg.payload = field1=${matches.join(',')}&MQTTPUBLISH=TRUE;\n} else if (string.match(/fieldtwo/g) !== null) {\n    let matches = string.match(/(\\d+)/g);\n    msg.payload = field2=${matches.join(',')}&MQTTPUBLISH=TRUE;\n} else if (string.match(/fieldthree/g) !== null) {\n    let matches = string.match(/(\\d+)/g);\n    msg.payload = field3=${matches.join(',')}&MQTTPUBLISH=TRUE;\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":460,"y":200,"wires":[["ce6edf00.38029","cd5aa84e.5ea178"]]},{"id":"d3fa694e.2660b","type":"mqtt-broker","z":"","name":"Thingspeak","broker":"mqtt3.thingspeak.com","port":"1883","clientid":"HxcWOwIuHCo3FCIcOBwiKQw","usetls":false,"compatmode":false,"keepalive":"60","cleansession":false,"birthTopic":"","birthQos":"0","birthPayload":"field1=45&field2=60&status=MQTTPUBLISH","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]